<!-- <p *ngFor="let food of simple_list; let i=index">{{i+1}} - {{ food }}</p> -->

<mat-card>
    <mat-card-content>
        <mat-list>
            <h3 matSubHeader>Food</h3>
            <mat-list-item *ngFor="let food of food_menu">
                <mat-icon matListIcon>fastfood</mat-icon>
                <h4 matLine>{{ food.name }}</h4>
                <h4 matLine>R$ {{ food.price }}</h4>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
</mat-card>

<mat-card>
    <mat-card-content>
        <mat-form-field>
           <input matInput placeholder="Food name" name="food_n" [(ngModel)]="food_n">
           <mat-icon matSuffix>fastfood</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Food Price" name="food_p" type="number" [(ngModel)]="food_p">
            <mat-icon matSuffix>euro</mat-icon>
         </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="add_to_list()">Add</button>
    </mat-card-actions>
</mat-card>